/* ==================
      VARIABLES
================== */
:root {
--hot-pink: #BF498A;
--navy: #052F40;
--light-gray: #D0D3D9;
--dark-gray: #72808C;
--mint: #B4D9A3;
--kelly-green: #4caf50;
--body-font: 'Hepta Slab', serif;
--title-font: 'Miltonian', cursive;
--title-font-filled: 'Miltonian Tattoo', cursive;
}

/* * {
	border: 1px solid gold;
} */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-family: var(--body-font);
	color: var(--dark-gray);
	/* margin: 0; */
	align-content: center;
	margin: 0 auto;

  }

  main {
    flex: 1 0 auto;
	text-align: center;
	/* margin: 0;
	width: 100%;
	align-self: center; */
  }


  h1 {
	font-size: 75px;
	 letter-spacing: 10px;
	 margin: 0 auto;
  }



  h1, h2, h3, h4 {
	  font-family: var(--title-font);
	  letter-spacing: 10px;
	  color: var(--kelly-green);
  }

  h5 {
	  font-family: var(--title-font-filled);
	  color: black;
  }

  p {
	  font-family: var(--body-font);
	  color: black;
	  font-size: 20px;
  }

  a {
	font-family: var(--kelly-green);
 	color: black;
  }

  a:hover {
	 font-size: 110%;
  }

/* .container {
	width: 100%;
	align-self: center;
	margin: 0;
} */
  .parallax{
    position:static;
  }

  .fab, .far {
	  font-size: 30px;
	  padding: 5px;
  }

  .fab:hover, .far:hover  {
	  font-size: 40px;
	  padding: 5px;
	  margin: 5px;
  }

.skills {
	width: 150px;
	padding: 10px;
}

.skills:hover {
	width: 200px;
	padding: 10px;
}

.brand-logo{
	margin: 0 15px;
}

.dani-logo {
	margin-top: 5px;
	width: 100px;
}

.brand-logo:hover{
	font-size: 110%;
}

  #logo {
	  width: 200px;
	  margin: 0;
	  padding: 0;
  }

  #small-logo {
	  width: 50px;
  }
